%div
  .row.row--full-height
    .row__medium-1-2
      = image_tag "https://res.cloudinary.com/adelcloud/image/upload/v1583773705/banner.jpg", :alt => "woman typing on laptop computer", :class => "img--full-height img--background-until-medium"
    .row__medium-1-2
      .container.container--full-height.container--centered-vh.container--overlay-until-medium-dark
        %h1.section-title= "Hi, I'm Adel"
        %p#banner-typed-text= "Nice to meet you"
        = link_to "Learn More", about_path, :class => "button button--outline"
.page-section.page-section--light-accent.relative
  .container.generic-content-container
    %h2.section-title= "Welcome to my site where I rant about art and write about programming"
    .row
      .row__large-3-5
        %p
          = "Basically attached to a coffee cup, I like to work on projects and write about them."
          / %span.cursive= "I'm working on that one."
        %p= ""
        %p= ""
        = link_to about_path do
          :markdown
            Read about me ➡
  / = image_tag "https://res.cloudinary.com/adelcloud/image/upload/v1583609132/veebileht_ynlgb4.jpg", :height => "500", :width => "500", :alt => "Adel Müürsepp", :class => "img--absolute-br img--backward-until-large reveal-item"
/ .page-section
/   .container
/     %h2.section-title= "I believe in service over process and focusing on users."
/     %p= "I spent the past decade fighting for customers—getting to know what turns them off and what makes them glow with satisfaction. After observing time after time that many companies view their customers as an obstacle, I decided to pivot. Now I bring my user-centric experience to creating things for the web."
/     %p= "From time to time, I'll share useful tidbits from my own experience working with front- and back-end development."
/     = link_to blogs_path do
/       :markdown
/         More of my thoughts. ➡
/ .page-section
/   .container.container--narrow.container--centered.generic-content-container
/     %h2.section-title= "Want to work together?"
/     %p
/       :markdown
/         Are you working on something useful and need a technical person who's your users' *best* advocate? I'd love to get involved. [Get in touch](#{new_message_path})
